<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <title>ChatKuy</title>
</head>
<body>
  <div class="container-chat">
    <div class="chat">
      <div class="wrapper-text-chat">
        <form action="">
          <input type="text" class="text-chat">
          <input type="submit" class="btn-kirim">
        </form>
      </div>
  </div>
</div>
    
</body>
</html>