<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Login ChatKuy</title>
  </head>
  <body>
    <div class="container-login">
      <div class="form-login">
        <h1>CHATKUY</h1>
        <form action="">
          <input class="text-input" type="text" placeholder="Username">
          <br>
          <input class="btn-submit" type="submit" value="MASUK">
        </form>
      </div>
    </div>
  </body>
</html>