body {
    font-family: 'Montserrat', sans-serif;
    background-color: #303A52;
    height: 100vh;
}

a {
    display: block;
    text-decoration: none;
  }

/*====LOGIN====*/
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-login h1 {
    font-weight: 800;
    color: #F4F4F4;
    font-size: 48px;
    letter-spacing: 25px;
}

.form-login .text-input {
    font-weight: 800;
    width: 392px;
    background-color: #303A52;
    border: none;
    border-bottom: 1px solid #F4F4F4;
    padding: 16px 0px;
    padding-left: 8px;
    color: #F4F4F4;
    font-size: 28px;
}

.btn-submit {
    width: 392px;
    height: 79px;
    margin-top: 48px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: #FC5185;
    border: 3px solid #FC5185;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 34px;
    border-radius: 15px;
    translate: 0.3;
}

/* .form-login .btn-submit {
    width: 392px;
    height: 79px;
    margin-top: 48px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #FC5185;
    border: 3px solid #FC5185;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 34px;
    border-radius: 15px;
    translate: 0.3;
} */

.btn-submit:hover {
    background-color: #FC5185;
    color: #F4F4F4;
}

/* ====CHAT==== */
.container-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat {
    position: relative;
    width: 793px;
    height: 494px;
    padding: 31px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: scroll;
}

.chat::-webkit-scrollbar {
    display: none;
}

.wrapper-text-chat {
    position: fixed;
    margin: 3% auto;
    bottom: 31px;
}
.text-chat{
    width: 625px;
    height: 63px;;
    border: none;
    background-color: #303A52;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    color: #F4F4F4;
    padding-left: 10px;
    font-weight: 400;
}

.btn-kirim {
    margin-left: 35px;
    width: 63px;
    height: 63px;
    border-radius: 50px;
    background-color: #303A52;
    border: none;
}

.bubble-chat {
    background-color: #F4F4F4;
    color: #303A52;
    padding: 0px 15px; 
    border-radius: 15px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.16);
}

.bubble-chat h5 {
    font-size: 18px;
    padding-top: 8px;
}

.bubble-chat p {
    margin-top: -25px;
    padding-bottom: 8px;
}